<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alan Victor</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="/css/projetos.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top">
        <div class="container-fluid">
          <a class="navbar-brand" href="#"><h4>Alan Victor</h4></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/"><i class="fas fa-home"></i> Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/projetos"><i class="fas fa-folder"></i> Portfolio</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/sobre"><i class="fas fa-info-circle"></i> Sobre</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>

   

      <div class="text">
        <h3>Aqui encontrarar <span>meus portfolios.</span></h3>
      </div>
    <!-- Cards section -->
    <br> <br> <br>
    
    <div class="card-container">
      <div class="card" style="width: 18rem;">
        <img src="img/Applepague.png" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Apple Page</h5>
            <p class="card-text">Nesse projeto tfiz uma pagina da Apple, como um rolagem automatica até a sessão indica, feita no javaScript</p>
            <a href="https://unequaled-peridot-air.glitch.me/" class="btn btn-primary">Visualizar</a>
        </div>
    </div>
    <div class="card-container">
        <div class="card" style="width: 18rem;">
          <img src="/img/fotooo.png" class="card-img-top" alt="...">
          <div class="card-body">
              <h5 class="card-title">Tela de Login</h5>
              <p class="card-text">Nesse projeto temos uma tela de login simples com validações JS. LOGIN: alan , SENHA: senha.</p>
              <a href="https://cyber-bronze-bank.glitch.me/teste/logar.html" class="btn btn-primary">Visualizar</a>
          </div>
      </div>
    <div class="card" style="width: 18rem;">
        <img src="/img/calculadora.png" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Calculadora</h5>
            <p class="card-text">É uma Calculadora feita com um simples JS, html e css</p>
            <a href="https://relieved-workable-driver.glitch.me" class="btn btn-primary">Visualizar</a>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="/img/imc.png" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Calcular IMC</h5>
            <p class="card-text">Um sisples programa de calcula imc</p>
            <a href="https://substantial-unexpected-side.glitch.me" class="btn btn-primary">Visualizar</a>
        </div>
    </div>
   
   
    
    </div>
    

      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>
