body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.navbar-collapse {
    margin-right: 20px;
    justify-content: flex-end;
}
.navbar-brand {
    margin-left: 50px;
}
.navbar-nav .nav-link {
    position: relative;
}
.navbar-nav .nav-link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0;
    height: 2px;
    background-color:  #007bff;
    transition: width 0.3s;
}
.navbar-nav .nav-link:hover::after {
    width: 100%;
}
.navbar {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Adiciona sombreamento */
}
.navbar-nav li a {
    color: #007bff;
}

.container {
    max-width: 400px;
    padding: 30px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.img img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid #007bff;
    box-shadow: 0 0 10px rgba(0, 123, 255, 0.1);
    margin: 0 auto 20px;
    display: block;
}
.info {
    text-align: center;
}
.info p {
    margin-bottom: 10px;
    font-size: 16px;
    color: #333;
}
.redes-sociais {
    list-style: none;
    padding: 0;
}
.redes-sociais li {
    display: inline;
    margin-right: 10px;
}
.redes-sociais li:last-child {
    margin-right: 0;
}
.redes-sociais li a {
    text-decoration: none;
    color: #007bff;
    font-size: 18px;
    transition: color 0.3s;
}
.redes-sociais li a:hover {
    color: #0056b3;
}
.logo-img {
    position: fixed;
    bottom: 10px;
    right: 20px;
    width: 250px;
    height: auto;
}

@media screen and (max-width: 682px){
    .container{
        margin: 40px 4%;
    }
}
