body{
    flex-wrap: wrap;
}
.navbar-nav li{
    justify-content: flex-end;
}
.navbar-nav .nav-link {
    position: relative;
}
.navbar-nav .nav-link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0;
    height: 2px;
    background-color:  #007bff; /* Cor da linha */
    transition: width 0.3s; /* Adicionando transição */
}

.navbar-nav .nav-link:hover::after {
    width: 100%;
}
.navbar-nav li a {
    color: #007bff;
}
.navbar-brand{
    margin-left: 50px;
}
.navbar {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); /* Adiciona sombreamento */
}

/* ESTILO DO MAIN DO SITE */

section.topo-do-site{
    padding: 40px 4%;
}
.flex{
    display: flex;
}
section.topo-do-site .flex{
    align-items: center;
    justify-content: center;
    gap: 90px;
}
.topo-do-site h1{
    font-size: 38px;
    line-height: 40px;
}
.topo-do-site .txt-topo-site p{
    margin: 40px 0;
}
h2.titulo{
    font-size: 38px;
    text-align: center;
}
h2.titulo span{
    color: #007bff;
}
.btn-contato button{
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: .2s;
    color: #007bff;
}
.btn-contato button:hover{
    box-shadow: 0px 0px 8px;
    transform: scale(1.05);
}

.topo-do-site .img-topo-site img{
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
}

@keyframes flutuar{
    0%{
        top: 0;
    }
    100%{
        top: 30px;
    }
}

/* ESTILO DAS ESPECIALIADES */

section.especialidades{
    padding: 40px 4%;
}

section.especialidades .flex{
    gap: 60px;
}
.especialidades .especialidades-box{
    padding: 40px;
    margin-top: 45px;
    border-radius: 20px;
    transition: .2s;
}
.especialidades .especialidades-box i{
    font-size: 70px;
    color: #007bff;
}
.especialidades .especialidades-box h3{
    font-size: 28px;
    margin: 15px 0;
}
.especialidades .especialidades-box:hover{
    transform: scale(1.05);
    box-shadow: 0 0 8px #007bff83;
}

/* RESPOSIVIDADE */

@media screen and (max-width: 1200px){
    .flex{
        flex-direction: column;
    }
    .topo-do-site .flex{
        flex-direction: column-reverse;
    }

    /* TOPO DO SITE*/

    .topo-do-site h1{
        font-size: 30px;
    }

    .img-topo-site img{
        width: 100%;
    }
}
